autopep8==1.4
backcall==0.1.0
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
flake8==3.5.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
kiwisolver==1.0.1
matplotlib==3.0.0
mccabe==0.6.1
numpy==1.15.2
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.5
protobuf==3.6.1
ptyprocess==0.6.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytorch-ignite==0.1.0
pytz==2018.5
simplegeneric==0.8.1
six==1.11.0
tensorboardX==1.4
torch==0.4.1
torchvision==0.2.1
tqdm==4.26.0
traitlets==4.3.2
wcwidth==0.1.7
